*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(14, 14, 14);
}

section{
    display: flex;
    justify-content: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph :first-child{
    display: flex;
    justify-content: center;
    color: white;
    font-size: x-large;
    margin-top: 20px;
}

.paragraph :nth-child(2){
    display: flex;
    justify-content: center;
    color: white;
    font-size: large;
    margin-top: 70px;
}

#loading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
    display: flex;
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 50%;
    margin-top: 150px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.icons{
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    margin: 20px 5px;
}

.animated::before{
    content: "";
    height: 150%;
    width: 150%;
    position: absolute;
    background: conic-gradient(
        #141414,
        #232d2e,     
        #006179,
        #215d5f,
        #80f2ff
    );
    left: -25%;
    top: -25%;
    animation: rotate 1.5s infinite linear;
}

.animated::after{
    content: 'Loading';
    position: relative;
    height: 93%;
    width: 93%;
    left: 3.5%;
    top: 3.5%;
    background-color: rgb(14, 14, 14);
    border-radius: 50%;
    letter-spacing: 6px;
    display: grid;
    place-items: center;

}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width: 500px) {
    
.paragraph :first-child{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: medium;
    margin-top: 20px;
}

.paragraph :nth-child(2){
    display: flex;
    justify-content: center;
    color: white;
    font-size: small;
    margin-top: 70px;
}

}